\research_notebook/_build/
\wandb/
rbig_consistency.csv
\.ipynb_checkpoints/
*.DS_Store

\__pycache__/
\.obsidian/
\.vscode/
\code/jax/notebooks/numpyro/results/
*.zarr
*.zip
*.nc
*.js
*.css
*.woff
*.xml
\.idea/
